* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #e9e9e9;
	color: #2e2e2e;
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: #1b4a81;
}

.tot {
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    align-self: center;
    background-color: #c5e9e9;
}

.arrodonir {
    border-radius: 20px;
}

.btn-google {
    color: white;
    background-color: #e94435;
}

.login {
	float: right;
}

.contenidor {
	width: 90%;
	max-width: 1000px;
	margin: auto; 
}

h1 {
	margin: 20px 0;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #1b4a81;
	font-weight: black;
}

canvas {
	border: white dashed 5px;
}

#canvas2{
	width: 700px;
	height: 500px;
}

.foto {
	position: absolute;
	top: 80%;
	left: 50%;
	z-index: 1;
}

.file {
	position: absolute;
	top: 100%;
	z-index: 1;
	padding: 10px;
	background-color: #e9cbc5;
	border-radius: 10px;
}

.icona {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 18px;
}
